/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.box h1 {
		background-color: #14061c;
		padding: 26px;
	}
	.menu ul li{
		background-color: #06181f;
	}
	.aside {
		background-color: #06181f;
	}

	.box p {
		background-color: #012836;

	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu ul li{
		background-color: #17566e;
	}
	.aside {
		background-color: #17566e;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.box h1 {
		background-color: #39124d;
		padding: 26px;
	}

	.box p {
		background-color: #006587;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}